/* line 2, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body {
  height: 100%;
  background: url(/bg2.jpg) no-repeat center top fixed;
  -moz-background-size: cover;
  /* Firefox 3.6+ */
  -webkit-background-size: cover;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: cover;
  /* Opera 9.6+ */
  background-size: cover;
  /* Современные браузеры */
  font-family: Helvetica;
}
/* line 12, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .header {
  height: 70px;
  background-color: #f3f3f3;
}
/* line 17, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .header .mainmenu .navbar-brand {
  padding-left: 28px;
}
/* line 22, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .header .mainmenu ul li a {
  line-height: 70px;
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0 8px;
}
/* line 32, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .header .mainmenu ul li.active a {
  text-decoration: underline;
}
/* line 40, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .header .informblock {
  height: 70px;
  margin-right: 60px;
}
/* line 43, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .header .informblock .phone {
  height: 35px;
  display: block;
  clear: both;
}
/* line 47, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .header .informblock .phone a {
  text-align: center;
  padding: 0 10px;
  line-height: 35px;
  text-decoration: none;
  font-weight: normal;
  color: #000000;
  font-size: 22px;
  font-family: 'Trebuchet MS', Tahoma;
}
/* line 60, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .content {
  margin: 0 auto;
  width: 960px;
  min-height: 100%;
  font-size: 16px;
  font-family: Helvetica;
}
/* line 67, D:/daglob/www/kostromalesstroy.test/css/main.scss */
body .bodycontainer .documentcontainer .footer {
  background-color: #000000;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

/* DEBUG CONSTRUCT */
/* line 79, D:/daglob/www/kostromalesstroy.test/css/main.scss */
pre {
  background-color: lightgrey;
  color: #000000;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #000000;
}
